/* Add screen styles below */
/*lines commented out were for troubleshooting*/
a.active {
    font-weight: bold;
}

main{
font-family: sans-serif;
margin: 0 2em;
display: grid;
justify-content: center;
/* background-color: bisque;
align-items: left; */
}

h1{
    /* background-color: darkcyan; */
    margin-bottom: 0;
}

p{
    margin-top: 0;
}

body img{
    /* background-color: darkolivegreen; */
    width: 500px;
    height: 500px;
    padding: 1em 0;
}

body img #eyes{
    padding: 0;
}